name: Publish branch
on:
  push: # run on push to any branch except master
    branches:
      - "!master"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - uses: ./.github/actions/setup

      - name: Set version to include branch
        run: |
          # Get branch name and replace / with -
          BRANCH_NAME=$(echo "${GITHUB_REF#refs/heads}" | sed -e "s/\//-/g")
          sed -i '/version=/ s/-SNAPSHOT/-'"$BRANCH_NAME"'-SNAPSHOT/g' ./gradle.properties

      - name: Publish with Gradle
        run: >
          ./gradlew publishAllVersions
          -Pdeploy.username=$ARTIFACTORY_USERNAME -Pdeploy.password=$ARTIFACTORY_PASSWORD
        env:
          ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - uses: ./.github/actions/teardown